extends layout

block content
  p
    a(href='./') Lista de Artículos
  p
    a(href='/posts/' + (post.id + 1)) Siguiente Artículo

  h1 #{post.code}

  h1 #{post.title}
  p
  h2 #{post.description}
  p
  if images.length >0
    p Imágenes
    each ima in images
        .img
            img(src='../'+ima.path)
        form(action="/images/del/"+ima.id method="POST")
          input(type="submit" value="Delete Image")
  else
    p No posee Imágenes
  form(action="/images" method="POST" encType="multipart/form-data")
    //p PostId:
    input(type="hidden" name="postId" placeholder="" value=post.id readonly)
    p Agregar Imagen:
      input(type="file" name="filetoupload" placeholder="")
    input(type="submit" value="Agregar Imagen")
  
  p

  form(action="/posts/del/"+post.id method="POST")
    
    //p PostId:
    input(type="hidden" name="postId" placeholder="" value=post.id readonly)
    input(type="submit" value="ELIMINAR POST")

block out
  p

block sidebar
  .widget
    p Máscara de Fecha:
    h1 #{post.dateMask}
    p  Fecha Inicio:
    h1 #{post.startDate}
    p Fecha Fin:
    h1 #{post.endDate}
    
