extends layout

block content
  p
    a(href='/') Lista de Artículos
  p
    a(href='./') Insertar Nuevo Artículo
  
  //p
    a(href='/posts/' + (post.id + 1)) Siguiente Artículo

  form(action="/posts/edit/"+post.id method="POST")
    input(type="hidden" name="id" placeholder="" value=post.id)
    p Código:
      textarea(type="text" name="code" placeholder="" rows="1" cols="60" value=post.code) #{post.code}
    p Título:
      textarea(name="title" placeholder="" rows="1" cols="60" value=post.title) #{post.title}
    p Título Inglés:
      textarea(name="title_en" placeholder="" rows="1" cols="60" value=post.title_en) #{post.title_en}
    p Descripción:
      textarea(name="description" placeholder="" value=post.description rows="6" cols="60") #{post.description}
    p Descripción Inglés:
      textarea(name="description_en" placeholder="" value=post.description_en rows="6" cols="60") #{post.description_en}
    p Máscara de Fecha:
      textarea(type="text" name="dateMask" placeholder="" rows="1" cols="60" value=post.dateMask) #{post.dateMask}
    p Fecha Inicio:
      textarea(type="text" name="startDate" placeholder="" rows="1" cols="60" value=post.startDate) #{post.startDate}
    p Fecha Fin:
      textarea(type="text" name="endDate" placeholder="" rows="1" cols="60" value=post.endDate) #{post.endDate}
    input(type="submit" value="Actualizar Artículo")

  p
  form(action="/posts/del/"+post.id method="POST")  
    input(type="hidden" name="postId" placeholder="" value=post.id readonly)
    input(type="submit" value="ELIMINAR ARTICULO")

  p
  if images.length >0
    p Imágenes
    each ima in images
        .img
            img(src='../'+ima.path)
        form(action="/images/del/"+ima.id method="POST")
          input(type="submit" value="Borrar Imágen")
  else
    p No posee Imágenes
  
  p
  form(action="/images" method="POST" encType="multipart/form-data")
    //p PostId:
    input(type="hidden" name="postId" placeholder="" value=post.id readonly)
    p Agregar Imagen:
      input(type="file" name="filetoupload" placeholder="")
    input(type="submit" value="Agregar Imagen")
  
  p

  

block out
  p
    
