extends layout

block content
  p
    a(href='./') PostList
  p
    a(href='/posts/' + (post.id + 1)) Next post

  h1 #{post.title}
  h2 #{post.text}
  p
  if images.length >0
    p Images
    each ima in images
        .img
            img(src='../'+ima.path)
        form(action="/images/del/"+ima.id method="POST")
          input(type="submit" value="Delete")
  else
    p No images
  form(action="/images" method="POST" encType="multipart/form-data")
    p PostId:
      input(type="text" name="postId" placeholder="" value=post.id readonly)
    p UploadImages:
      input(type="file" name="filetoupload" placeholder="")
    input(type="submit" value="Submit")

block out
  p

block sidebar
  .widget
    p created by:
    h1 #{post.author}
    if comments.length >0
        p Comments:
    else
        p No comments
    each val in comments
        p #{val.body}
